---
const { img, title, description, link } = Astro.props;
---

<div class="bg-cat-crust p-4 rounded-lg basis-1/4">
	<div class="flex flex-col items-center justify-center space-y-4">
		<img
			decoding="async"
			loading="lazy"
			src={img}
			alt={title}
			class="rounded-lg shadow-lg"
		/>
		<h2 class="md:text-2xl text-lg font-bold">{title}</h2>
		<p class="text-xs">{description}</p>
		<a href={link} class="text-blue-500 text-sm md:text-base">View project</a>
	</div>
</div>
